.main-content {
    padding: 20px;
    background-color: #121212;
    color: #e0e0e0;
    height: 100%;
    overflow-y: auto;
  }
  
  .experience {
    margin-bottom: 20px;
  }
  
  .experience-photo {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  