.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 2rem auto;
  }
  
  .login-form input {
    background-color: transparent; /* Removes default background */
      color: #e0e0e0; /* Light text color for contrast */
      border: 2px solid #555; /* Subtle border */
      padding: 10px 20px;
      font-size: 1rem;
      text-transform: uppercase; /* Stylish uppercasing for text */
      text-decoration: none;
      border-radius: 20px; /* Rounded corners */
      transition: all 0.3s ease; /* Smooth transition for hover effects */
      outline: none; /* Removes the outline */
      cursor: pointer; /* Cursor appears as pointer on hover */
  }
  
  .login-form input:hover {
    border-color: #9e77eb; /* Changes border color on hover */
      color: #8c77eb; /* Text color changes on hover */
      background: rgba(119, 139, 235, 0.1); /* Subtle background color on hover */
      box-shadow: 0 0 8px rgba(181, 119, 235, 0.5); /* Soft glow effect */
  }
  button {
    background-color: rgb(146, 100, 215); /* Removes default background */
      color: #000000; /* Light text color for contrast */
      padding: 8px 20px;
      font-size: 1rem;
      text-decoration: none;
      border-radius: 15px; /* Rounded corners */
      outline: none; /* Removes the outline */
      cursor: pointer; /* Cursor appears as pointer on hover */
  }
  
 button:hover {
    border-color: #9e77eb; /* Changes border color on hover */
      color: #8c77eb; /* Text color changes on hover */
      background: rgba(119, 139, 235, 0.1); /* Subtle background color on hover */
      box-shadow: 0 0 8px rgba(181, 119, 235, 0.5); /* Soft glow effect */
  }
  