.main-content {
  padding: 0.4rem;
  overflow-y: auto;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

/* Mobile Responsive */
@media (max-width: 390px) {
  .main-content {
    padding: 10px;
    font-size: 1rem;
  }
}
