.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #121212;
  color: #e0e0e0;
  height: 100%;
  overflow-y: auto;
}
